.paper {
    display:flexbox;
    /* position: ce; */
 margin: auto;
 margin-top: 5%;
 padding-bottom: 5%;
      width:70%;
      height: 80%;
      background-color:rgb(252, 252, 252);
      box-shadow: 0px 2px 38px rgba(0, 0, 0, 0.2);
 
 }
 
 .header {
 text-align: center;
 /* font-family: ; */
 padding-top: 26px;
 }
