.key{
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}
.value{
    font-size: 14px;
    font-family: sans-serif;
}

.productImgContainer{
    width: 100px;
    height: 100px;
    overflow: hidden;
    text-align: center;
}
.productImgContainer img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.file-input {
    margin-top: 20px;
}

select {
    border-radius: 25px ;
  }
.heading {
    font-size: 125%;
    padding: 10px;
    padding-left: 5%;
    font-weight: bold;
    color: white;
    border-radius: 2rem;
    margin: 3%;
    margin-top: 5%;
    background-color: #27343a;
  }
  .detailsModal{
      font-size: large;
  }

  .detailsModal p {
      font-size: 1rem;
  }
  .detailsModal  .key {
    font-size: 1rem;
  }

  .addButton {
    margin: 0px;
    width: 90px;
   justify-content: center;
    border-radius: 2rem;
    padding: 10px;
    font-size: 90%;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 20px;
    border-style: solid !important;
  }
  .addButton :hover{
    transform: scale(1.01);
  }