.paper {
    display:flexbox;
    /* position: ce; */
 margin: auto;
 margin-top: 5%;
 padding-bottom: 5%;
 width:90%;
 height: 80%;
background-color:rgb(252, 252, 252);
box-shadow: 0px 2px 38px rgba(0, 0, 0, 0.2);
 
 }
 
 .heading {
     text-align: center;
     display: flex;
     justify-content: center;
 }
 